<div style="background-color: #fff; position: relative; z-index: 1; height: 100%">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <div class="white-card text-center providers-card" style="float:left">
          <h1><%= t('.title') %></h1>
          <p><%= t('.intro') %></p>
          <div style="margin: 30px 13%;">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <%= link_to "", providers_path, method: :post, class: "logo",
                style: "background-image: url( #{asset_path 'withing-logo.png'})" %>
              </div><div class="col-xs-12 col-sm-4">
                <%= link_to "", new_auth_path(:fitbit), method: :post, class: "logo",
                style: "background-image: url( #{asset_path 'fitbit-logo.png'})" %>
              </div><div class="col-xs-12 col-sm-4">
                <a href="#" class="logo" style="background-image: url(<%= asset_path 'ihealth-logo.png' %>)"></a>
              </div>
            </div>
          </div>
          <div class="banner-app">
            <p>Nous recommandons cette application gratuite pour suivre vos pas:</p>
            <div style="display: flex; align-items: center; flex-direction: column; width: 100%">
              <div style="display: flex; flex-direction: row; align-items: center">
                <%= image_tag 'health-mate_icon', class: "logo-app" %>
                <h3>Withings Health Mate</h3>
              </div>
              <div style="display: flex; flex-direction: row; margin: 8px 0 0 0">
                <a href='https://play.google.com/store/apps/details?id=com.withings.wiscale2&hl=fr&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                  <%= image_tag 'fr_badge_android', class: "badge-store",  alt: 'Disponible sur Google Play' %>
                </a>
                <a href=''>
                  <%= image_tag 'fr_badge_appstore', class: "badge-store",  alt: 'Disponible sur Appstore' %>
                </a>
              </div>
            </div>
          </div>
          <p><%= link_to "Je n'utilise aucun de ces services >", user_goals_path(current_user) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
