<div style="background-color: #fff; position: relative; z-index: 1; height: 100%">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <div class="white-card text-center providers-card" style="float:left">
          <h1><%= t('.title') %></h1>
          <p><%= t('.intro') %></p>
          <div style="margin: 30px 13%; float: left;">
            <%= link_to "", providers_path, method: :post, class: "logo",
            style: "background-image: url( #{asset_path 'withing-logo.png'})" %>
            <%= link_to "", new_auth_path(:fitbit), method: :post, class: "logo",
            style: "background-image: url( #{asset_path 'fitbit-logo.png'})" %>
            <a href="#" class="logo" style="background-image: url(<%= asset_path 'ihealth-logo.png' %>)"></a>
          </div>
          <p><%= link_to "Je n'utilise aucun de ces services >", user_goals_path(current_user) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
