<div id="message-<%= message.id %>" class="message">
  <div class="header">
  <p>
    <%= image_tag message.sender.picture.url(:thumb) %>
    <strong><%=message.sender.first_name%></strong>
    <small><%=message.created_at.strftime("%m/%d/%Y - %H:%M")%></small>
  </div>
  <div class="menu">
    <%= link_to(message_path(message), remote: true, method: :delete) do %>
      <i class="fa fa-times"></i>
    <% end %>
  </div>
  <p>
    <%=message.content%>
  </p>
</div>
