<div id="message-<%= message.id %>" class="message">
  <div class="header">
    <%= image_tag message.sender.picture.url(:thumb) %>
    <strong><%=message.sender.first_name%></strong><br />
    <small><%= l(message.created_at, format: :short)%></small>
  </div>
  <div class="menu">
    <% if policy(message).destroy? %>
      <%= link_to(message_path(message), remote: true, method: :delete) do %>
        <i class="fa fa-times"></i>
      <% end %>
    <% end %>
  </div>
  <p>
    <%=message.content%>
  </p>
</div>
