<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-5">
      <h2><%= t('.title') %>
        <br /><small><%= t('.sub_title') %></small>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-5">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= field_set_tag 'Identifiants de compte' do %>
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true %>
        <% end %>
        <%= field_set_tag 'Informations pour mieux vous connaître' do %>
          <%= f.input :sexe, collection: translate_collection(User::SEXE), as: :radio_buttons, label: false %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :picture %>
          <%= f.input :height, placeholder: "ex: 170cm" %>
          <%= f.input :birthday, as: :date, start_year: Date.current.year - 90,
                              end_year: Date.current.year - 18,
                              order: [:day, :month, :year],
                              default: 40.years.ago %>
          <div class="form-group agreement">
            <%= t('.agreements_html', word: t('.submit')) %>
          </div>
        <% end %>
        <div class="form-group text-center">
          <%= f.button :submit, t('.submit'), class: "btn-techcare btn-block" %>
        </div>
      <% end %>
      <div class="shared-links text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">reassurance</div>
  </div>
</div>

