<table cellspacing="0" cellpadding="0" border="0">
  <!-- margin-top -->
  <tr>
    <td width="600" height="20"></td>
  </tr>
  <tr>
    <td width="600" height="40" bgcolor="#FFFFFF" style="background-color: #FFFFFF"></td>
  </tr>
  <!-- Logo zone -->
  <tr>
    <td width="600" bgcolor="#FFFFFF">
      <table cellspacing="0" cellpadding="0" width="100" border="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td width="100" valign="middle">
            <%= link_to root_url(locale: @locale), style: "display: block; text-align: center;" do %>
              <%= image_tag("logo-green.png", style: "width: 100px; height: 100px; text-decoration: none; display: block; color:#476688; font-size:30px;", alt: "",) %>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="600" height="15" bgcolor="#ffffff" style="background-color: #ffffff"></td>
  </tr>
  <!-- Content Zone -->
  <tr>
    <td width="600" bgcolor="#FFFFFF">
      <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" width="600" style="font-family: 'Lato', 'Helvetica', 'sans-serif'; font-size: 16px; line-height: 24px; color: #555555; width: 600px">
        <tr>
          <td width="80"></td>
          <td width="440">
            <div>
              <p style="text-align: center; font-weight: bold">Hi <%= @coach.first_name %></p>
              <p>
              A new user named <%= @user.first_name %> just choose you to be his coach on techcare !<br />
              The first thing to do is to welcome him and to start analysing his first dataset.
              </p>
              <p>It is very important than <%= @user.first_name %> becomes as soon as possible aware of:</p>
              <ul>
                <li>His weaknesses (nutrition, sedentarity etc.)</li>
                <li>What should he has to do in practice (reduce food rations, food education etc.)</li>
                <li>How long he has to achieve its goals</li>
              </ul>
              <p>Don't forget to keep in touch with your trainees because it the most significant factor to improve your users' behavior.</p>
            </div>
          </td>
          <td width="80"></td>
        <tr>
          <td width="80"></td>
          <td width="440">
            <table style="text-align: center; width: 180px; margin-top: 5px; margin-bottom: 5px" width="180" border="0" cellpadding="0" cellspacing="0" align="center">
              <tbody>
                <tr>
                  <td width="200" style="font-size: 14px; font-family: 'Lato', 'Helvetica', 'sans-serif'; font-weight: normal; color: #ffffff; text-decoration: none; border-radius: 3px; display: block; text-align: center; background-color: #01D48F; padding: 10px">
                  <%= link_to "Look at #{@user.first_name} profil", users_url(@locale), style: "font-family: 'Lato', 'Helvetica', 'sans-serif';font-weight: normal; font-size: 16px; font-weight: normal; color: #ffffff; text-decoration: none" %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td width="80"></td>
        </tr>
        <tr>
          <td width="80"></td>
          <td width="440">
            <div>
              <p>Please let me know if you have any idea  or notice about techcare by clicking on the feedback tab located at the right bottom of the website pages.<br><br>
              Take care of yourself ! :-)</p>
              <p>William,<br />techcare founder</p>
            </div>
          </td>
          <td width="80"></td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- padding bottom -->
  <tr>
    <td width="600" height="40" bgcolor="#FFFFFF" style="background-color: #FFFFFF"></td>
  </tr>
  <!-- margin bottom -->
  <tr>
    <td width="600" height="40"></td>
  </tr>
</table>
