<div class="user-info-card">
  <div class="user-details">
    <%= image_tag user.picture.url(:medium), class: 'avatar' %>
    <div>
      <%= user.full_name %><br />
      <%= user.email %>
    </div>
  </div>
  <div class="user-bodymetric">
    <%= user.age %> ans<br />
    <%= user.weight %>Kg | <%= user.height %>cm<br />
    <%= user.bmi %>
  </div>
</div>
