<div class="user-info-card">
  <div class="user-details">
    <%= image_tag user.picture.url(:medium), class: 'avatar' %>
    <div>
      <span class="fullname"><%= user.full_name %></span><br />
      <%= user.email %>
    </div>
  </div>
  <div class="user-bodymetric">
    <%= user.age %> ans<br />
    <%= round_weight(user.weight) %>kg | <%= user.height %>cm<br />
    IMC: <%= user.bmi %>
  </div>
</div>
