<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 chat-column">
      <% if @default_trainee && @default_trainee.present? %>
        <%= render 'show', user: @default_trainee %>
        <div class="chat-card" style="margin-top: 20px">

          <% if @default_trainee %>
            <!-- Formulaire de chat  -->
            <%= simple_form_for [@user, @message], remote: true, class: 'chat-form' do |f| %>
              <%= f.error_notification %>
              <%= hidden_field_tag :recipient_id, @default_trainee.id, class: 'js-message-recipient-id' %>
              <%= f.input :content, label: false, placeholder: 'Your message', as: :text, class: "form-control" %>
              <%#= f.association :recipient, collection: @user_names, value_method: :id %>
              <%= f.button :submit, value: t('submit_message'),class: "btn btn-primary"  %>
            <% end %>

            <!-- List of messages -->
            <%= render 'messages/index', messages: @messages, trainee: @default_trainee %>
          <% end %>

        </div>
      <% else %>
        <div class="user-info-card">
          <%= t('.no_trainee') %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="trainees-list">
        <h1><%= t('.trainee_list') %></h1>

        <% @users.each do |user| %>
          <div class="trainee-card text-center" data-user-id="<%= user.id %>">
            <%= image_tag user.picture.url(:medium) %>
            <p><%= user.first_name %></p>
            <!-- affichier le nombre de message avec read_at = nil -->
            <%if @unread_messages.where(sender: user).count > 0%>
              <p class="notification"><i class="fa fa-envelope"></i> <%= @unread_messages.where(sender: user).count  %></p>
            <%end%>
            <%= link_to t('.trainee_dashboard'), user_goals_path(user), class: "btn btn-success", target: 'blank' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    <% if @default_trainee %>
      $(document).ready(function() {
        $.get('/messages?user_id=' + <%= @default_trainee.id %>, function(data) {})
      });
    <% end %>

// permet de rafraichir la liste de message mais je comment car pas pratique pour lecture
    // setInterval(function() {
    //   var trainee_id = $('.js-user-messages').data('trainee-id');
    //   $.get('/messages?user_id=' + trainee_id, function(data) {})
    // }, 10000);

    $(".trainee-card").on("click", function(){
      var user_id = $(this).data("user-id");
      $.get('/messages?user_id=' + user_id, function(data) {});
      $(this).find(".notification").hide();
      $.get('/messages/read', function(data) {});
      $('.js-message-recipient-id').val(user_id);
      $.get('/users/' + user_id, function(data) {});
    });

    var height = $('.trainee').outerHeight();
    $('.messages').height(height)
    $('.messages')[0].scrollTop = $('.messages')[0].scrollHeight;

  </script>
<% end %>
    </div>
  </div>
</div>
