
<div class="banner text-center" >
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Change your habits</h1>
    <h1>Feel better today</h1>
    <!-- <p>Very cool stuff, useful and smart</p> -->
    <%= link_to "Change now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<!-- Pourquoi on le propose -->
<div class = "icon-section">
  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-heartbeat fa-3x"></i>
      <h3>Personal follow-up</h3>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-line-chart fa-3x"></i>
      <h3>Based on actionable metrics</h3>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-eye fa-3x"></i>
      <h3>Get helped by an expert</h3>
    </div>
​  </div>
</div>

<!-- Product section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>Metric-based monitoring.</h2>
        <p>
           Get personalized goals to improve your health condition.<br />
           You will feel better days after days.
         </p>
      </div>
      <div class="col-sm-6 hidden-xs">
        <%= image_tag "screen-app.png", class: "screen-app" %>
      </div>
    </div>
  </div>
</div>

<!-- Tools section  -->
<div class="tools-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5 text-right">
          <%= image_tag "slice-app.png", class: "slice-app" %>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="text-tools">
          <h2>Your health data in one place.</h2>
          <p>Synchronize all your connected devices in one place. We give sense to your data and save you time so you can focus on the most important: get healthier habits.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Coach section  -->
<div class="coach-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Meet our coaches</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "coach1.png", class: "img-circle"   %>
        <h3>John Moore</h3>
        <h4>Cardiologist</h4>
        <p>"I have treated hundreds of patients and studied web-based therapy programs for over a decade, and I know that personal attention and the use of evidence based techniques significantly improve health outcomes."</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "coach2.png", class: "img-circle" %>
        <h3>Estelle Landreau</h3>
        <h4>Nutritionist</h4>
        <p>"I'm here to provide support, information, and encouragement to help facilitate your success. I know by the end of this journey, you will have lots of new tools and strategies that you can use in your everyday life."</p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "coach3.jpg", class: "img-circle" %>
        <h3>Michael Taylor</h3>
        <h4>Diabetes Specialist</h4>
        <p>"I believe people’s paths cross for a purpose and as your techcare coach, my mission is to support you to reach your goals and make positive changes in your life."</p>
      </div>
    </div>
  </div>
</div>
<div class="newsletter-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6 text-center">
        <h3>Get our advices in your inbox</h3>
        <p>We empower people to keep healthy and avoid chronic conditions.</p>

        <!-- Begin MailChimp Signup Form -->

        <div id="mc_embed_signup">
          <form action="//techcare.us12.list-manage.com/subscribe/post?u=6ac920b061fbaafc5cb3fab13&amp;id=7ebed3daa0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate simple_form" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="form-group">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="adress@domain.com" required>
              <input type="submit" value="Get it" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_6ac920b061fbaafc5cb3fab13_7ebed3daa0" tabindex="-1" value="">
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
