<div class="banner text-center" >
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1><%= t('.first-claim') %></h1>
    <h2><%= t('.second-claim') %></h2>
    <!-- <p>Very cool stuff, useful and smart</p> -->
    <%= link_to (t('.btn-cta')), new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<!-- How we do -->
<div id="features-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3 class="text-center"><%= t('.features_section_title') %></h3>
        <p class="text-center"><%= t('.features_section_desc') %></p>
      </div>
    </div>
    <div class="feature coach">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-right">
          <div class="wrapper-img">
            <%= image_tag("iphone-coach.png") %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h4><%= t('.coach_title') %></h4>
          <p><%= t('.coach_desc') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="feature goals bg-sport">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-2">
          <h4><%= t('.goals_title') %></h4>
          <p><%= t('.goals_desc') %></p>
        </div>
        <div class="col-xs-12 col-sm-5">
          <%= image_tag("iphone-goals.png") %>
        </div>
      </div>
    </div>
  </div>
  <div class="feature tracking bg-nutrition">
    <div class="container">
      <div class="row">
<!--         <div class="col-xs-12 col-sm-5 hidden-xs">
          <%= image_tag("screen-food.png") %>
        </div> -->
        <div class="col-xs-12 col-sm-5">
          <h4><%= t('.tracking_title') %></h4>
          <p><%= t('.tracking_desc') %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Who is it made for -->
<div id="pains-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
        <h3><%= t('.pains_section_title') %></h3>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-4">
        <div class="pain">
          <div class="picto green"><i class="fa fa-arrow-down" aria-hidden="true"></i></div>
          <h4><%= t('.weight_title') %></h4>
          <p><%= t('.weight_desc') %></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="pain">
          <div class="picto red"><i class="fa fa-heartbeat" aria-hidden="true"></i></div>
          <h4><%= t('.bloodpressure_title') %></h4>
          <p><%= t('.bloodpressure_desc') %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-4">
        <div class="pain">
          <div class="picto blue"><i class="fa fa-cube" aria-hidden="true"></i></div>
          <h4><%= t('.diabete_title') %></h4>
          <p><%= t('.diabete_desc') %></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="pain">
          <div class="picto yellow"><i class="fa fa-tint" aria-hidden="true"></i></div>
          <h4><%= t('.cholesterol_title') %></h4>
          <p><%= t('.cholesterol_desc') %><p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-6">
        <div class="pain">
          <h4>Cancer</h4>
          <p>
            Le cancer peut être issu de différents facteurs de risque dont ceux liés à notre mode de vie et à notre environnements. Il est difficile d’agir directement sur notre environnement autant il est possible de modifier individuellement son mode de vie. Techcare est conçu pour vous aider à adopter ce mode de vie de manière progressive et individualisée.
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>


<!-- Tools section  -->

<% if false %>
<!-- Coach section  -->
<div class="coach-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2><%= t('.coach_section_title') %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "team_lalous.jpg", class: "img-circle"   %>
        <h3>Julien Lalous</h3>
        <h4><%= t('.dietician') %></h4>
        <p><%= t('.coach-1-speech') %></p>
      </div>
<!--       <div class="col-xs-12 col-md-3 text-center">
        <%= image_tag "team_voegtlin.jpg", class: "img-circle"   %>
        <h3>Charlotte Voegtlin</h3>
        <h4><%= t('.dietician') %></h4>
        <p><%= t('.coach-1-speech') %></p>
      </div> -->
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "team_sorin.jpg", class: "img-circle" %>
        <h3>Yohan Sorin</h3>
        <h4><%= t('.physical_trainer') %></h4>
        <p><%= t('.coach-3-speech') %></p>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <%= image_tag "team_pavadepoulle.jpg", class: "img-circle" %>
        <h3>Prakasch Pavadepoulle</h3>
        <h4><%= t('.dietician') %></h4>
        <p><%= t('.coach-2-speech') %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="newsletter-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 text-center">
        <h3><%= t('.newsletter_title') %></h3>
        <p><%= t('.newsletter_sub') %></p>

        <!-- Begin MailChimp Signup Form -->

        <div id="mc_embed_signup">
          <form action="//techcare.us12.list-manage.com/subscribe/post?u=6ac920b061fbaafc5cb3fab13&amp;id=7ebed3daa0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate simple_form" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="form-group">
              <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="<%= t('.newsletter_placeholder')%>" required>
              <input type="submit" value="<%= t('.newsletter_submit') %>" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_6ac920b061fbaafc5cb3fab13_7ebed3daa0" tabindex="-1" value="">
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
</div>
