
<div class="banner text-center" >
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Change your habits</h1>
    <h1>Feel better today</h1>
    <!-- <p>Very cool stuff, useful and smart</p> -->
    <%= link_to "Change now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

  <div class = "icon-section">
        <!-- Pourquoi on le propose -->
        <div class="row">
          <div class="col-xs-12 col-sm-4 text-center">
            <i class="fa fa-heartbeat fa-3x"></i>
            <h3>Personal follow-up</h3>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <i class="fa fa-line-chart fa-3x"></i>
            <h3>Based on actionable metrics</h3>
          </div>
          <div class="col-xs-12 col-sm-4 text-center">
            <i class="fa fa-eye fa-3x"></i>
            <h3>Get helped by an expert</h3>
          </div>
  ​     </div>
    </div>


 <!-- Product section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>A unique interface.</h2>
        <p>Share your data with your personnal assistant
           Improve your goals in order to have better health condiction.
           You will feel better days after days</p>
      </div>
      <div class="col-sm-6 hidden-xs">
        <%= image_tag "screen-app.png", class: "screen-app" %>
      </div>
    </div>
  </div>
</div>
<!-- Tools section  -->
  <div class="tools-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-5 text-right">
            <%= image_tag "slice-app.png", class: "slice-app" %>
        </div>
        <div class="col-xs-12 col-md-7">
          <div class="text-tools">
            <h2>Your health data in one place.</h2>
            <p> Intergrate every device you use. By connecting your health data to Techcare, improve your health metrics. The integration of a personnal coaching, will guide you in order to acheive your goals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Coach section  -->
  <div class="coach-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Meet Our Coaches</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4 text-center">
          <%= image_tag "coach1.png", class: "img-circle"   %>
          <h3>John</h3>
          <h4>Cardiologist</h4>
          <p>"I have treated hundreds of patients and studied web-based therapy programs for over a decade, and I know that personal attention and the use of evidence based techniques significantly improve health outcomes."</p>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <%= image_tag "coach2.png", class: "img-circle" %>
          <h3>Estelle</h3>
          <h4>Nutritionist</h4>
          <p>"I'm here to provide support, information, and encouragement to help facilitate your success. I know by the end of this journey, you will have lots of new tools and strategies that you can use in your everyday life."</p>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
          <%= image_tag "coach3.jpg", class: "img-circle" %>
          <h3>Mike</h3>
          <h4>Diabetes Specialist</h4>
          <p>"I believe people’s paths cross for a purpose and as your techcare coach, my mission is to support you to reach your goals and make positive changes in your life."</p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
