
<div class="banner text-center" >
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Change your habits</h1>
    <h1>Feel better today</h1>
    <!-- <p>Very cool stuff, useful and smart</p> -->
    <%= link_to "Change now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <div class = "icon-section">
  <div class="container">
    <div class="row">
      <!-- Qu'est ce que l'on propose BANNER  -->
      <!-- <div class="col-xs-12">
        <h1>Changer vos habitudes et préservez votre santé.</h1>
        <%= link_to "Change now", new_user_registration_path, class: "btn btn-primary" %>
      </div> -->
    </div>
    <!-- Pourquoi on le propose -->
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <i class="fa fa-heartbeat fa-3x"></i>
        <h3>Personal follow-up</h3>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <i class="fa fa-line-chart fa-3x"></i>
        <h3>Based on actionable metrics</h3>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <i class="fa fa-eye fa-3x"></i>
        <h3>Get helped by an expert</h3>
      </div>
    </div>
  ​</div>
</div>
  </div>
</div>


 <!-- Product section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>A unique interface.</h2>
        <p>Share your data with your personnal assistant
           Improve your goals in order to have better health condiction.
           You will feel better days after days</p>
      </div>
      <div class="col-xs-6">
        <%= image_tag "screen-app.png", class: "screen-app" %>
      </div>
    </div>
  </div>
</div>
<!-- Tools section  -->
  <div class="tools-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
            <%= image_tag "slice-app.png", class: "slice-app" %>
        </div>
        <div class="col-xs-6">
          <div class="text-tools">
            <h2>All your health data in one place.</h2>
            <p> Intergrate every device you use. By connectin your health data to Techcare, improve your health metrics. The integration of a personnal coaching, will guide you in order to acheive your goals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Coach section  -->
  <div class="coach-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Our coachs</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= image_tag "coach1.png", class: "img-circle"   %>
          <h3>John</h3>
          <p>After 10 years as a doctor..</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <%= image_tag "coach2.png", class: "img-circle" %>
          <h3>Melissa</h3>
          <p>Melissa is our nutritionist doctor..</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <%= image_tag "coach3.jpg", class: "img-circle" %>
          <h3>Mike</h3>
          <p>Mike is well know docteur. For the last 20 years, he works with profesionnals athlets in order to prepare world class competition.</p>
        </div>
      </div>
    </div>
  </div>
</div>
