<div style="background-color: #fff; position: relative; z-index: 1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center"><%= t('.title') %></h2>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub monthly">
              <h2><%= t('.sub-1_title') %></h2>
              <img />
              <ul>
                <li><%= t('.sub-1_arg1') %></li>
                <li><%= t('.sub-1_arg2') %></li>
                <li><%= t('.sub-1_arg3') %></li>
              </ul>
              <p style="color: $brand-color"><strong><%= t('.sub-1_trial', count: 15) %></strong></p>
              <%= link_to new_subscription_path(plan: "sub-1"), class: "btn btn-techcare" do %>
                <strong>S’abonner à 69€/mois</strong>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub quarterly">
              <h2><%= t('.sub-3_title') %></h2>
              <img />
              <ul>
                <li><%= t('.sub-3_arg1') %></li>
                <li><%= t('.sub-3_arg2') %></li>
                <li><%= t('.sub-3_arg3') %></li>
              </ul>
              <p style="color: $brand-color"><strong><%= t('.sub-3_trial', count: 20) %></strong></p>
              <%= link_to new_subscription_path(plan: "sub-3"), class: "btn btn-techcare" do %>
                <strong>S’abonner à 54€/mois</strong>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub quarterly">
              <h2><%= t('.sub-6_title') %></h2>
              <img />
              <ul>
                <li><%= t('.sub-6_arg1') %></li>
                <li><%= t('.sub-6_arg2') %></li>
                <li><%= t('.sub-6_arg3') %></li>
              </ul>
              <p style="color: $brand-color"><strong><%= t('.sub-6_trial', count: 1) %></strong></p>
              <%= link_to new_subscription_path(plan: "sub-6"), class: "btn btn-techcare" do %>
                <strong>S’abonner à 49€/mois</strong>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
