<div style="background-color: #fff; position: relative; z-index: 1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-10">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center"><%= t('.title') %></h2>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub monthly">
              <h2><%= t('.sub-1_title') %></h2>
              <img />
              <p><%= t('.sub-1_intro') %></p>
              <h3>69€<br />
                <small><%= t('.sub-1_price') %></small></h3>
                <%= link_to new_subscription_path(plan: "sub-1"), class: "btn btn-techcare" do %>
                  <strong><%= t('.sub-1_trial', count: 15) %></strong>
                <% end %>
              <ul>
                <li><span><%= t('.sub-1_arg1') %></span></li>
                <li><span><%= t('.sub-1_arg2') %></span></li>
                <li><span><%= t('.sub-1_arg3') %></span></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub quarterly">
              <h2><%= t('.sub-3_title') %></h2>
              <img />
              <p><%= t('.sub-3_intro') %></p>
              <h3>54€<br />
                <small><%= t('.sub-3_price') %></small></h3>
                <%= link_to new_subscription_path(plan: "sub-3"), class: "btn btn-techcare" do %>
                  <strong><%= t('.sub-3_trial', count: 20) %></strong>
                <% end %>
              <ul>
                <li><span><%= t('.sub-3_arg1') %></span></li>
                <li><span><%= t('.sub-3_arg2') %></span></li>
                <!-- <li><span><%= t('.sub-3_arg4') %></span></li> -->
                <li><span><%= t('.sub-3_arg3') %></span></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="white-card sub quarterly">
              <h2><%= t('.sub-6_title') %></h2>
              <img />
              <p><%= t('.sub-6_intro') %></p>
              <h3>49€<br />
                <small><%= t('.sub-6_price') %></small></h3>
                <%= link_to new_subscription_path(plan: "sub-6"), class: "btn btn-techcare" do %>
                  <strong><%= t('.sub-6_trial', count: 1) %></strong>
                <% end %>
              <ul>
                <li><span><%= t('.sub-6_arg1') %></span></li>
                <li><span><%= t('.sub-6_arg2') %></span></li>
                <!-- <li><span><%= t('.sub-6_arg4') %></span></li> -->
                <li><span><%= t('.sub-6_arg3') %></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
