<div style="background-color: #fff; position: relative; z-index: 1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <h2><%= t('.title') %></h2>
            <p style="color: #aaa"><%= t('.intro', name: current_user.first_name.capitalize) %></p>
          </div>

          <div class="col-xs-12 col-md-offset-3 col-md-6">
            <form action="<%= subscriptions_path %>" method="POST" id="payment-form">
              <legend>Enregistrer une carte de paiement</legend>
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input name="plan" value="<%= @subscription.name %>" type="hidden">
              <div class="form-group col-xs-12">
                <span class="control-label payment-errors"></span>
              </div>

              <div class="form-group col-xs-12">
                <label><%= t('.cardholder') %></label>
                <input type="text" size="20" class="form-control" placeholder="<%= t('.cardholder') %>" data-stripe="name">
              </div>

              <div class="form-group col-xs-12">
                <label><%= t('.cardnumber') %></label>
                <input type="text" size="20" class="form-control" placeholder="<%= t('.cardnumber') %>" data-stripe="number">
              </div>

              <div class="form-group col-xs-6">
                <label><%= t('.expdate') %></label>
                <div class="form-inline">
                  <input type="text" size="2" class="form-control" titre="Mois d'expiration" placeholder="MM" data-stripe="exp_month">
                  <span>/</span>
                  <input type="text" size="2" class="form-control" placeholder="YY" data-stripe="exp_year">
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label><%= t('.cvc') %></label>
                <input type="text" size="4" class="form-control" placeholder="CVC" data-stripe="cvc">
              </div>

              <div class="form-group col-xs-3 text-left">
                <%= link_to "< Retour", subscriptions_path %>
              </div>
              <div class="form-group col-xs-9 text-right">
                <input type="submit" class="btn btn-techcare"
                       value="<%= t('.submit_' + params[:plan]) %>">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">

    Stripe.setPublishableKey("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");

    function stripeResponseHandler(status, response) {
      // Grab the form:
      var $form = $('#payment-form');

      if (response.error) { // Problem!

        // Show the errors on the form:
        $form.find('.form-group').addClass('has-error');
        $form.find('.payment-errors').text(response.error.message);
        $form.find('.submit').prop('disabled', false); // Re-enable submission

      } else { // Token was created!

        // Get the token ID:
        var token = response.id;

        // Insert the token ID into the form so it gets submitted to the server:
        $form.append($('<input type="hidden" name="stripeToken">').val(token));

        // Submit the form:
        $form.get(0).submit();
      }
    };

    $(function() {
      var $form = $('#payment-form');
      $form.submit(function(event) {
         event.preventDefault();

        // Disable the submit button to prevent repeated clicks:
        $form.find('.submit').prop('disabled', true);

        // Request a token from Stripe:
        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from being submitted:
        return false;
      });
    });
  </script>
<% end %>

