<div class="goal-card text-center red">
  <h2>
    <%= t(goal.title, value: goal.goal_value,
          unit: t('activerecord.attributes.measure_type.unit._'+ goal.unit)) %>
  </h2>
  <p>
    <strong>
      <%= t('.achieved_on') %><%= l(goal.end_date, format: :day) %>
    </strong>
  </p>
  <div class="fullbar">
    <div class="fillbar" style="width: <%= goal.progression %>%">
      <div class="current-measure">
        <strong>
          <%= goal.current_value %>
        </strong><br />
        <%= t('activerecord.attributes.measure_type.unit._' +
               goal.measure_type.unit) %>
      </div>
    </div>
  </div>
</div>
