<div class="goal-card text-center">
  <h2>
    <%= t(goal.title, value: goal.goal_value,
          unit: t('activerecord.attributes.measure_type.unit._'+ goal.unit)) %>
  </h2>
  <p>
    <strong><%= (goal.end_date.to_date - Time.current.to_date).to_i %></strong>
    <%= t('.days') %>
  </p>
  <div class="fullbar">
    <div class="fillbar" style="width: <%= goal.progression %>%">
      <div class="current-measure">
        <strong>
        <% if goal.cumulative %>
          <%= goal.sum_of_measures %>
        <% else %>
          <%= goal.last_measure_for_user.round(1) %>
        <% end %>
        </strong><br />
        <%= t('activerecord.attributes.measure_type.unit._' +
               goal.measure_type.unit) %>
      </div>
    </div>
  </div>
  <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
    <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
      <i class="fa fa-times"></i>
    <% end %>
  <% end %>
</div>
