<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1>Dashboard</h1>
      <p>Find me in app/views/goals/index.html.erb</p>
      <div>
        <% @goals.each do |goal| %>
          <h2><%= goal.title %></h2>
          <p><strong>last user measure:</strong></p>
          <p><strong>end_value:</strong> <%= goal.end_value %></p>
          <p><strong>Time remaining:</strong>
            <%= goal.end_date.day %>/<%= goal.end_date.month %>/<%= goal.end_date.year %></p>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <p>Chat Area</p>
      <%= simple_form_for [@user, @message] do |f| %>
        <%= f.error_notification %>
        <%= f.input :content %>
        <%= f.button :submit  %>
      <% end %>
    </div>
  </div>
</div>
