  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">

      <!-- Add Food Picture -->
      <div class="white-card text-center" id="food-pictures">
        <h2><%= t('.food_title') %></h2>
        <div class="food_picture-container">
          <a id="prev_pic"><button>&lt;</button></a>
          <% if @food_pictures.empty? %>
            <div class="food-picture-list">
              <p><%= t('.food_empty') %></p>
            </div>
          <% else %>

            <div class="food-picture-list">
              <% @food_pictures.each do |fp| %>
                <%= render 'food_pictures/show_small', user: @user, fp: fp %>
              <% end %>
            </div>
          <% end %>
          <a id="next_pic"><button>&gt;</button></a>
        </div>
        <% if policy(@measure).new? %>
          <%= render 'food_pictures/form', user: @user, food_picture: @food_picture %>
        <% end %>
      </div>

      <!-- Disclaimer about connected device synchronization -->
      <% unless @user != current_user || @user.authorizations.exists? ||
                @user.api_user_id.present? || cookies[:data_card_read] == "true" %>

        <%= render 'add_data_card' %>
      <% end %>

      <!-- Goals running listing -->
      <% @goals.running.each do |goal| %>

        <% unless goal.is_achieved? %>
          <div class="goal-card text-center">
            <h2>
              <%= t(goal.title, value: goal.goal_value,
                    unit: t('activerecord.attributes.measure_type.unit._'+ goal.unit)) %>
            </h2>
            <p>
              <strong>
                <%= (goal.end_date.to_date - Time.current.to_date).to_i %>
              </strong>
              <%= t('.days') %>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression %>%">
                <div class="current-measure">
                  <strong>
                  <% if goal.cumulative %>
                    <%= goal.sum_of_measures %>
                  <% else %>
                    <%= goal.last_measure_for_user.round(1) %>
                  <% end %>
                  </strong><br />
                  <%= t('activerecord.attributes.measure_type.unit._' +
                         goal.measure_type.unit) %>
                </div>
              </div>
            </div>
            <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
              <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="goal-card text-center complete">
            <h2>
              <%= t(goal.title, value: goal.goal_value,
                    unit: t('activerecord.attributes.measure_type.unit._'+ goal.unit)) %>
            </h2>
            <p>
              <strong>achieved on the <%= goal.end_date.strftime('%d/%m/%Y') %></strong>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression %>%">
                <div class="current-measure">
                  <strong>
                    <%= goal.current_value %>
                  </strong><br />
                  <%= t('activerecord.attributes.measure_type.unit._' +
                         goal.measure_type.unit) %>
                </div>
              </div>
            </div>

            <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
              <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <% end %>

      <!-- Goal Over Listing-->
      <% if @goals.over.count > 0 %>
        <h3>Objectifs passés</h3>
      <% end %>
      <% @goals.over.each do |goal| %>
        <% unless goal.is_achieved? %>
          <div class="goal-card text-center">
            <h2>
              <%= t(goal.title, value: goal.goal_value,
                    unit: t('activerecord.attributes.measure_type.unit._'+ goal.unit)) %>
            </h2>
            <p>
              <strong>
                <%= (goal.end_date.to_date - Time.current.to_date).to_i %>
              </strong>
              <%= t('.days') %>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression %>%">
                <div class="current-measure">
                  <strong>
                  <% if goal.cumulative %>
                    <%= goal.sum_of_measures %>
                  <% else %>
                    <%= goal.last_measure_for_user.round(1) %>
                  <% end %>
                  </strong><br />
                  <%= t('activerecord.attributes.measure_type.unit._' +
                         goal.measure_type.unit) %>
                </div>
              </div>
            </div>
            <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
              <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="goal-card text-center complete">
            <h2>
              <%= t(goal.title, value: goal.goal_value,
                    unit: t('activerecord.attributes.measure_type.unit._'+ goal.unit)) %>
            </h2>
            <p>
              <strong>achieved on the <%= goal.end_date.strftime('%d/%m/%Y') %></strong>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression %>%">
                <div class="current-measure">
                  <strong>
                    <%= goal.current_value %>
                  </strong><br />
                  <%= t('activerecord.attributes.measure_type.unit._' +
                         goal.measure_type.unit) %>
                </div>
              </div>
            </div>

            <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
              <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <!-- New goal Button -->
      <% if GoalPolicy.new(current_user, @user, Goal).create? %>
        <div class="text-center">
          <%= link_to t('.new-goal'), '#', class: "btn btn-primary ", data: { toggle: "modal", target: "#myModal" } %>
        </div>
      <% end %>

    </div>

    <div class="col-xs-12 col-md-4 chat-column">
      <div class="chat-card">

        <!-- Coach information -->
        <% if current_user == @user.adviser.user %>
          <div class="user-info">
            <%= image_tag @user.picture.url(:medium) %>
            <span class="user-info-name">
              <strong>
                <%= @user.full_name %>
              </strong><br />
            </span>
          </div>
        <% else %>
          <div class="coach-info">
            <%= image_tag @user.adviser.user.picture.url(:medium) %>
            <span class="coach-info-name">
              <strong><%= @user.adviser.user.first_name %> <%= @user.adviser.user.last_name %></strong><br />
              <%= @user.adviser.title %>
            </span>
          </div>
        <% end %>

        <!-- formulaire du chat -->
        <%= simple_form_for [@user, @message], remote: true, html: { class: "text-right"} do |f| %>
          <%= f.error_notification %>
          <%= f.input :content, label: false, placeholder: t('.placeholder-message'), as: :text %>
          <%= f.button :submit, t('.submit-message'), class: "btn btn-primary"  %>
        <% end %>

        <!-- Affichage des messages -->
        <div class="messages">
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- New Goal Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.title-new-goal') %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @goal] do |f| %>
          <%= f.association :measure_type, collection: @measure_types_of_user %>
          <%= f.input :title %>
          <%= f.input :end_date, as: :date %>
          <%= f.input :goal_value %>
          <%= f.button :submit, t('.submit-goal'), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- New Measure Modal -->
<div class="modal fade" id="new_measure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.title_new_measure') %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @measure] do |f| %>
          <%= f.association :measure_type, collection: @measure_types %>
          <%= f.input :value %>
          <%= f.input :date, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year, order: [:day, :month, :year] %>
          <%= f.button :submit, t('.submit_measure'), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Food picture Modal -->
<div class="modal fade" id="food-pic-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
    });

    $('#food_picture_submit').click(function() {
      var img = '<div class="loader">' +
                '<%= image_tag("ldr.gif", height: 11, alt: "loader") %>' +
                '</div>';
      $('#new_food_picture').append(img);
      $(this).hide();
    });

    function display_next_button() {
      var figure_size = $('figure').outerWidth(true) || 0;
      var figure_margin = parseInt( $('figure').css("marginRight") ) || 0;
      var number_figure = $('#food-pictures figure').length || 0;
      var pic_size_total  = (figure_size * number_figure) - figure_margin;
      var pic_size_displayed = $('.food-picture-list').outerWidth(true);

      if (pic_size_total > pic_size_displayed) {
        $('#next_pic').addClass('active');
      }
    }
    display_next_button();

    function right(element){
      var right_value = parseInt( element.css('right') );
      return right_value
    };

    function display_slider_buttons() {
      $('#food-pictures').on('click', '#prev_pic', function() {
        var food_list   = $('.food-picture-list');
        if (right(food_list) > 0) {
          $('#next_pic').addClass('active');
          var unit_size = $('figure').outerWidth(true);
          $('.food-picture-list').animate({right: "-=" + unit_size},200,function() {
            if (right(food_list) <= 0) {
              $('#prev_pic').removeClass('active');
              $('.food-picture-list').animate({right: 0},200,function() {});
            }
          });
        }
      });

      $('#food-pictures').on('click', '#next_pic', function() {
        var food_list = $('.food-picture-list');
        var figure_size = $('figure').outerWidth(true);
        var figure_margin = parseInt( $('figure').css("marginRight") );
        var number_figure = $('#food-pictures figure').length || 0;
        var max_size  = (figure_size * number_figure) - figure_margin;
        var max_position = max_size - $('.food-picture-list').outerWidth(true);

        if (right(food_list) < max_position) {
          $('#prev_pic').addClass('active');
          var unit_size = $('figure').outerWidth(true);
          $('.food-picture-list').animate({ right: "+=" + unit_size},200,function() {
            if (right(food_list) >= max_position) {
              $('#next_pic').removeClass("active");
              $('.food-picture-list').animate({right: max_position},200,function() {});
            }
          });
        }
      });
    }
    display_slider_buttons();

    $('figure form.edit_measure').hide();

    $('.date').hover(
      function(){ $(this).children('a').toggleClass('display'); },
      function(){ $(this).children('a').toggleClass('display'); }
    );

    $('#food-pictures').on('click', '.date', function(){
      // hides this date and shows others
      $('figure.picture .date').show();
      $(this).hide();

      // hides all date forms and shows this clicked one
      $('figure form.edit_measure').hide();
      $(this).parents('figure.picture ').children('form.edit_measure').show();
    });

    $('#food-pictures').on('click', '.measure-update-cancel', function() {
      $(this).parents('form.edit_measure').hide();
      $(this).parents('figure.picture').find('.date').show();
    });

  </script>
<% end %>

