  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 goals-column">
      <!-- <h1 class="text-center">Goals dashboard</h1> -->
      <!-- <p>Find me in app/views/goals/index.html.erb</p> -->
      <% @goals.each do |goal| %>

        <% if goal.is_running? %>

          <div class="goal-card text-center">
            <h2><%= goal.title %></h2>
            <p>
              <strong><%= (goal.end_date.to_date - Time.current.to_date).to_i %></strong>
              <%= t('.days') %>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression %>%">
                <div class="current-measure">
                  <strong><%= goal.last_measure_for_user.round(1) %></strong><br /><%= goal.measure_type.unit %>
                </div>
              </div>
            </div>

        <% elsif goal.is_achieved? %>

          <div class="goal-card text-center complete">
            <h2><%= goal.title %></h2>
            <p>
              <strong>achieved on the <%= goal.end_date.strftime('%Y/%m/%d') %></strong>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression_for_user %>%">
                <div class="current-measure">
                  <strong><%= goal.last_measure_for_user.round(1) %></strong><br /><%= goal.measure_type.unit %>
                </div>
              </div>
            </div>

        <% end %>

            <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
              <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>


      <% end %>

      <% if GoalPolicy.new(current_user, @user, Goal).create? %>
        <div class="text-center">
          <%= link_to t('.new-goal'), '#', class: "btn btn-primary ", data: { toggle: "modal", target: "#myModal" } %>
        </div>
      <% end %>

    </div>

    <div class="col-xs-12 col-md-4 chat-column">
      <div class="chat-card">
        <div class="coach-info">
          <%= image_tag @user.adviser.user.picture.url(:medium) %>
          <span class="coach-info-name">
            <strong><%= @user.adviser.user.first_name %> <%= @user.adviser.user.last_name %></strong><br />
            <%= @user.adviser.title %>
          </span>
        </div>
        <!-- formulaire du chat -->
        <%= simple_form_for [@user, @message], remote: true, class: 'chat-form' do |f| %>
          <%= f.error_notification %>
          <%= f.input :content, label: false, placeholder: t('.placeholder-message'), as: :text %>
          <%= f.button :submit, t('.submit-message'), class: "btn btn-primary"  %>
        <% end %>
        <!-- Affichage des messages -->
        <div class="messages">
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- New Goal Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.title-new-goal') %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @goal] do |f| %>
          <%= f.association :measure_type, collection: @measure_types_of_user%>
          <%= f.input :title %>
          <%= f.input :cumulative %>
          <%= f.input :end_date %>
          <%= f.input :goal_value %>
          <%= f.button :submit, t('.submit-goal'), class: "btn btn-primary" %>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>

