  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 goals-column">

      <!-- Add Food Picture -->
      <div class="white-card text-center" id="food-pictures">
        <h2><%= t('.food_title') %></h2>
        <div class="food_picture-container">
          <button id="prev_pic"></button>
          <div class="food-picture-list">
            <% if @food_pictures.empty? %>
             <p><%= t('.food_empty') %></p>
            <% else %>
              <% @food_pictures.each do |fp| %>
                <%= render 'food_pictures/show', fp: fp %>
              <% end %>
            <% end %>
          </div>
          <button id="next_pic"></button>
        </div>
        <%= render 'food_pictures/form', user: @user, food_picture: @food_picture %>
      </div>

      <!-- Disclaimer about connected device synchronization -->
      <% unless @user.authorizations.exists? || @user.api_user_id.present? ||
                cookies[:data_card_read] == "true" %>
        <%= render 'add_data_card' %>
      <% end %>

      <!-- Goals listing -->
      <% @goals.each do |goal| %>

        <% if goal.is_running? && !goal.is_achieved? %>
          <div class="goal-card text-center">
            <h2><%= goal.title %></h2>
            <p>
              <strong><%= (goal.end_date.to_date - Time.current.to_date).to_i %></strong>
              <%= t('.days') %>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression %>%">
                <div class="current-measure">
                  <strong>
                  <% if goal.cumulative %>
                    <%= goal.sum_of_measures %>
                  <% else %>
                    <%= goal.last_measure_for_user.round(1) %>
                  <% end %>
                  </strong><br /><%= goal.measure_type.unit %>
                </div>
              </div>
            </div>
            <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
              <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% elsif goal.is_succeed? || goal.is_achieved? %>
          <div class="goal-card text-center complete">
            <h2><%= goal.title %></h2>
            <p>
              <strong>achieved on the <%= goal.end_date.strftime('%d/%m/%Y') %></strong>
            </p>
            <div class="fullbar">
              <div class="fillbar" style="width: <%= goal.progression %>%">
                <div class="current-measure">
                  <strong><%= goal.last_measure_for_user.round(1) %></strong><br /><%= goal.measure_type.unit %>
                </div>
              </div>
            </div>

            <% if GoalPolicy.new(current_user, @user, goal).destroy? %>
              <%= link_to(user_goal_path(@user, goal), method: :delete, class: "delete", title: t('.delete')) do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <% end %>

      <!-- New goal Button -->
      <% if GoalPolicy.new(current_user, @user, Goal).create? %>
        <div class="text-center">
          <%= link_to t('.new-goal'), '#', class: "btn btn-primary ", data: { toggle: "modal", target: "#myModal" } %>
        </div>
      <% end %>

    </div>

    <div class="col-xs-12 col-md-4 chat-column">
      <div class="chat-card">

        <!-- Coach information -->
        <% if current_user == @user.adviser.user %>
          <div class="user-info">
            <%= image_tag @user.picture.url(:medium) %>
            <span class="user-info-name">
              <strong>
                <%= @user.full_name %>
              </strong><br />
            </span>
          </div>
        <% else %>
          <div class="coach-info">
            <%= image_tag @user.adviser.user.picture.url(:medium) %>
            <span class="coach-info-name">
              <strong><%= @user.adviser.user.first_name %> <%= @user.adviser.user.last_name %></strong><br />
              <%= @user.adviser.title %>
            </span>
          </div>
        <% end %>


        <!-- formulaire du chat -->
        <%= simple_form_for [@user, @message], remote: true, html: { class: "text-right"} do |f| %>
          <%= f.error_notification %>
          <%= f.input :content, label: false, placeholder: t('.placeholder-message'), as: :text %>
          <%= f.button :submit, t('.submit-message'), class: "btn btn-primary"  %>
        <% end %>

        <!-- Affichage des messages -->
        <div class="messages">
          <% @messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>



<!-- New Goal Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.title-new-goal') %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @goal] do |f| %>
          <%= f.association :measure_type, collection: @measure_types_of_user %>
          <%= f.input :title %>
          <%= f.input :cumulative %>
          <%= f.input :end_date %>
          <%= f.input :goal_value %>
          <%= f.button :submit, t('.submit-goal'), class: "btn btn-primary" %>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<!-- New Measure Modal -->
<div class="modal fade" id="new_measure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.title_new_measure') %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @measure] do |f| %>
          <%= f.association :measure_type, collection: @measure_types %>
          <%= f.input :value %>
          <%= f.input :date, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year, order: [:day, :month, :year] %>
          <%= f.button :submit, t('.submit_measure'), class: "btn btn-primary" %>
        <% end %>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})

$('#prev_pic').click(function() {

});
$('#next_pic').click(function() {

});
</script>

