<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <!-- <h1 class="text-center">Goals dashboard</h1> -->
      <!-- <p>Find me in app/views/goals/index.html.erb</p> -->
      <% @goals.each do |goal| %>
        <div class="goal-card text-center">
          <h2><%= goal.title %></h2>
          <p><strong>User measure at goal creation date:</strong>
            <%= goal.last_measure_for_user(@user) { |m| m.where("date < ?", goal.start_date) } %>
          </p>

          <p><strong>last user measure:</strong>
            <%= goal.last_measure_for_user(@user) %></p>

          <p><strong>end_value:</strong>
            <%= goal.end_value %>
          </p>

          <p><strong>Due date:</strong>
            <%= goal.end_date.day %>/<%= goal.end_date.month %>/<%= goal.end_date.year %>
          </p>
          <div class="fullbar">
            <div class="fillbar" style="width: <%= goal.progression_for_user(@user) %>%"></div>
          </div>
          <% if current_user.coach == @user.adviser %>
            <%= link_to "delete", user_goal_path(@user.id, goal), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>

      <% if current_user.coach == @user.adviser %>
        <div class="text-center">
          <%= link_to "+ Add a new goal", new_user_goal_path, class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>

    <div class="col-xs-12 col-md-4">
      <div class="chat-card">
        <div class="coach-info">
          <%= image_tag @user.adviser.user.picture.url(:thumb) %>
          <span class="coach-info-name">
            <strong><%= @user.adviser.user.first_name %> <%= @user.adviser.user.last_name %></strong><br />
            <%= @user.adviser.title %>
          </span>
        </div>
        <!-- Affichage des messages  -->
        <% @messages.each do |message| %>
          <div class="message">
            <p><%= image_tag message.sender.picture.url(:thumb) %>
              <strong><%=message.sender.first_name%></strong> à <small><%=message.created_at.strftime("%H:%M le %d/%m/%y")%></small>
            </p>
            <p><%=message.content%></p>
          </div>
        <%end%>

        <!-- Saisie du message -->
        <%= simple_form_for [@user, @message] do |f| %>
          <%= f.error_notification %>
          <%= f.input :content, label: false, placeholder: 'Your message', as: :text %>
          <%= f.button :submit, class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Add a new goal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new goal</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@user, @goal] do |f| %>
          <%= f.association :measure_type, collection: @measure_types_of_user%>
          <%= f.input :title %>
          <%= f.input :cumulative %>
          <%= f.input :end_date %>
          <%= f.input :end_value %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
