<!DOCTYPE html>
<html class='<%= "#{params[:controller]}-#{params[:action]}".gsub('/', '-') %>'>
<head>
  <title><%= yield(:title).presence || "Techcare - Monitor your health" %></title>
  <meta name="description" content="<%= (yield(:description).presence || "").squish %>">
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'logo-green-192x192.png', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag 'logo-green.png', rel: 'apple-touch-icon' %>
  <%= favicon_link_tag 'logo-green-76x76.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
  <%= favicon_link_tag 'logo-green-120x120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
  <%= favicon_link_tag 'logo-green-152x152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>
  <%= favicon_link_tag 'logo-green-180x180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
  <%= favicon_link_tag 'logo-green-192x192.png', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag 'logo-green-128x128.png', rel: 'icon', type: 'image/png' %>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '314965452221303'); // Insert your pixel ID here.
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=314965452221303&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

</head>
<body class='site'>
  <%= render "shared/navbar" %>

  <div class='site-content'>
    <%= yield %>
  </div>
  <%= javascript_include_tag :application %>
  <%= yield(:after_js) %>

  <%= render "shared/footer" %>
</body>
</html>
